.Gallery-container{
  background-color: rgba(170, 170, 170, 0.11);
}


.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
  }

  
.nav-flush .nav-link {
    border-radius: 0;
  }
  
  
  
.scrollarea {
  overflow-y: auto;
}



.Book-Cards{
    row-gap: 10px;
    column-gap: 10px;
}



.buy-buttom{
  height: 30px; 
  width: 70px; 
  font-size: calc(0.6 * 1em);
  align-items: center;
  background-color: gold;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  font-size: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Pointer cursor */
  
}

.buy-buttom:hover{
  transform: scale(1.05); /* Slightly enlarge the button */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}


.borrow-buttom{
  margin-top: 7px;
  height: 30px; 
  width: 70px;
  font-size: calc(0.6 * 1em);
  background-color: gold;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  font-size: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Pointer cursor */
}

.borrow-buttom:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}