@{
    ViewData["Title"] = "Home";
}

<div class="home-container vh-100">
    <div class="home-card h-100">
        

        <div class="Header-SearchBar row position-relative">
            
            <div class="home-header col-8">
                <h2 class="gradient-text">Welcome to eBookStore</h2>
                <p class="text-muted">Your one-stop shop for the best eBooks!</p>
            </div>

            <div class="SearchBar col-4">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>

            </div>

        </div>



        <div class="home-content  d-flex row h-100">


            <div class="2-onSale-books row bg-success">
                <p>Explore a wide range of books and manage your library without breaking the bank.</p>

            </div>

            

            <div class="BestSellers row bg-secondary d-flex">
                <h4 class="header row" style="height: 20%;">Special Sales:</h4>

                <!-- This contains all the books covers of the best sellers  -->
                <div class="Books-container row" style="height: 80%; justify-content: center;">
                    
                    <div class="Book1 col-4 d-flex " style="border: 2px solid; align-items: center;">

                        <div class="cover-container col">
                            <img class="img-fluid" src="\images\bookCovers\default_book_cover.jpg" alt="Description of the image">

                        </div>

                        <div class="info-container col ms-2">
                            <p>Title: Doda</p>
                            <p>Author: Shel</p>
                            <p>Publisher: Dor</p>

                        </div>

                        <div class="Buttoms-container col ms-3 mt-3">
                            <button class="buy-buttom row" style="height: 30px; width: 70px; font-size: calc(0.5 * 1em);">Buy-Now</button>
                            <button class="borrow-buttom row" style="height: 30px; width: 70px; font-size: calc(0.5 * 1em);">Borrow</button>

                        </div>

                    </div>

                    <div class="Book2 col-4 d-flex ms-1" style="border: 2px solid; align-items: center;">

                        <div class="cover-container col">
                            <img class="img-fluid" src="\images\bookCovers\default_book_cover.jpg" alt="Description of the image">

                        </div>

                        <div class="info-container col ms-2">
                            <p>Title: Doda</p>
                            <p>Author: Shel</p>
                            <p>Publisher: Maxwell</p>

                        </div>

                        <div class="Buttoms-container col ms-3 mt-3">
                            <button class="buy-buttom row" style="height: 30px; width: 70px; font-size: calc(0.5 * 1em);">Buy-Now</button>
                            <button class="borrow-buttom row" style="height: 30px; width: 70px; font-size: calc(0.5 * 1em);">Borrow</button>

                        </div>

                    </div>

                </div>

                

            </div>


            <div id="Books-Roller" class="Books-Roller row" style="height: 160px;">
                <div class="roller-track row" style=""></div>

            </div>

            <div class="Categorys row bg-primary mb-1 " style="height: 120px;">

                <button class="Action-but col-1" style="height: 60px; font-size: calc(0.5 * 1em);">Action</button>
                <button class="Drama-but col-1" style="height: 60px; font-size: calc(0.5 * 1em);">Drama</button>
                <button class="Romance-but col-1" style="height: 60px; font-size: calc(0.5 * 1em);">Romance</button>



            </div>


        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Additional interactivity or scripts can be added here
        console.log("Home page loaded.");


        // Array of image URLs (replace with your own or fetch from API)
        const imageUrls = [
            'https://via.placeholder.com/120x160?text=Book+1',
            'https://via.placeholder.com/120x160?text=Book+2',
            'https://via.placeholder.com/120x160?text=Book+3',
            'https://via.placeholder.com/120x160?text=Book+3',
            'https://via.placeholder.com/120x160?text=Book+3',
            'https://via.placeholder.com/120x160?text=Book+3',
            'https://via.placeholder.com/120x160?text=Book+3',
            'https://via.placeholder.com/120x160?text=Book+3'
        ];

        // Select the roller track container
        const rollerTrack = document.querySelector('.roller-track');

        // Function to dynamically populate images
        function populateRoller(images) {
            images.forEach((url) => {
                const img = document.createElement('img');
                img.src = '\\images\\bookCovers\\default_book_cover.jpg';
                img.alt = 'Book Image';
                img.className = 'img-fluid';
                rollerTrack.appendChild(img);
            });

        }

        // Populate the roller dynamically
        populateRoller(imageUrls);



    </script>
}