@model AdminModel

<form action="showLogin" method="post">
    Username <input name="Username" type="text"><br>
    Password <input name="Password" type="text"><br>
    Email <input name="Email" type="text"><br>
    <input type="Submit" value="Login">
</form>