html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.loginForm
{
  box-sizing: border-box;
  background-color: aqua;
  text-align: center;
  align-items: center;
  padding: auto;
  border-radius: 5px;
  
}
.inputUserName
{
  margin-top: 5px;
}
.inputPassword
{
  margin-top: 5px;
}